body {
    background-color: rgb(50, 78, 111);
}



.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

.container-fluid {
    padding-left: 3rem;
    padding-right: 3rem;
}

.nav-link {
    margin-right: 3rem;
}

@keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
  

@keyframes slideInRight {
from {
    transform: translateX(100%);
    opacity: 0;
}
to {
    transform: translateX(0);
    opacity: 1;
}
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5rem;
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 40rem;
    color: white;
    animation: slideInLeft 2s ease-out;
}

.flex-items:nth-child(1) h3 {
    font-family: "Alfa Slab One", serif;
    font-size: 2rem;
    color: white;
}
  
.flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    animation: slideInRight 2s ease-out;
}

.img-thumbnail {
    border-color:rgb(50, 78, 111);
    background-color: rgb(50, 78, 111);
    border-radius: 50%;
    width: 25rem;
}
  